.playlist{
    margin: 8px 5px;
    display: flex;
    position: relative;
    width: 45%;
}
.playlist img{
    width: 100%;
}
.playlist .likes,
.playlist .favorite{
    position: absolute;
    z-index: 1000;
    padding: 8px;
    bottom:0;
    background: var(--lighter-black);
    cursor: pointer;
}
.playlist .likes{
    left: 0;
}
.playlist .favorite{
    right: 0;
}

.playlist .likes svg,
.playlist .favorite svg{
    width: 30px;
}
.playlist .likes svg path,
.playlist .favorite svg path{
    transition: .25s;
    fill: var(--highlight-color);
}
.playlist .likes svg .inner,
.playlist .favorite svg .inner{
    opacity: 0;
}

.playlist .likes svg:hover .inner,
.playlist .favorite svg:hover .inner{
    opacity: .5;
}

.playlist .total_songs{
    position: absolute;
    top: 0;
    right: 3px;
    transform: translateY(-30%);
    color: var(--main-color);
    background: var(--highlight-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-weight: bold;
    border: solid 5px var(--main-color);
}