@import "./1.colors/colors.css";
@import "./2.sizes/sizes.css";
@import "./3.elements/elements.css";
@import "./categorie/categorie.css";
@import "./playlists/playlists.css";
@import "./nav/nav.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 800px;
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: var(--base-margin);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}