<a href="/categorie/<%=categorie.id%>">
    <div class="categorie">
        <img src="<%=categorie.icons[0].url %>" alt="">
        <div class="overlay">
            <%= categorie.name %>
        </div>
    </div>
</a>