nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: var(--base-margin);
}

nav a{
    color: var(--secundair-color);
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    font-size: .8rem;
}
nav a p{
    margin-top: 5px;
    transform: translateY(100%);
    transition: .5s;
    padding-bottom: 5px;
}
nav a:hover{
    color: var(--highlight-color);
}
nav a:hover svg path{
    fill: var(--highlight-color);
}
nav a:hover p{
    transform: translateY(0);
}
nav a.active{
    color: var(--highlight-color);
    border-bottom: var(--highlight-color) soad 1px;
}
nav a.active p{
    transform: translateY(0);
}
nav a.active svg path{
    fill: var(--highlight-color);
}
nav a svg{
    height: 40px;
}
nav a svg path{
    fill: var(--secundair-color);
}