nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: var(--base-margin);
    margin-bottom: 60px;
}

nav li{
    color: var(--secundair-color);
    cursor: pointer;
    transition: .5s;
}
nav li:hover{
    color: var(--highlight-color);
}
nav li.active{
    color: var(--highlight-color);
    border-bottom: var(--highlight-color) solid 2px;
}