#path{
    width: 80%;
    color: var(--secundair-color);
    margin: var(--base-margin) 0;
    font-size: .8rem;
}
#path a{
    opacity: .3;
}
#path a:hover{
    color: var(--highlight-color);
    opacity: 1;
}